.render-image {
    width: 100%;
    height: 250px;
    object-fit: cover;

    border-radius: 12px;

    transition: transform .2s ease, box-shadow .2s ease;
}

.render-image:hover {
    transform: scale(1.03);

    box-shadow: 0 8px 24px rgba(0,0,0,.35);
}